@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+One&display=swap');

.container {
    border-radius: 10px;
    padding: 30px;
    background-color: #d2cdcb;
    box-shadow: 0px 0px 4px black;
}

.formTitle {
    font-family: 'Mochiy Pop One', sans-serif;
    color: white;
}

.registerProfileImage {
    height: 85px;
    width: 85px;
    border: 2px solid black;
    padding: 5px;
    border-radius: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#animal {
    display: flex;
    align-items: center;
    margin-top: 15px;
}

#animal img{
    max-width: 100%;
    max-height: 100%;
}

