@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Paytone+One&display=swap');

.dailyPost {
    box-shadow: 0px 0px 5px rgb(75, 75, 75);
    border-radius: 10px;
    height: 250px;
    margin: 30px 0px;
    padding: 20px;
}

#quote {
    font-family: 'Paytone One', sans-serif;
    color: white;
}

#author {
    text-align: left;
    margin-left: 20px;
    color: white;
    font-family: 'Paytone One', sans-serif;
}

#newPost {
    width: 100%;
    height: 60px;
    font-size: 25px;
    font-family: 'Mochiy Pop One', sans-serif;
}

.newPost {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    box-shadow: 0px 0px 5px rgb(75, 75, 75);
    border-radius: 10px;
    background-color: #d2cdcb;
    padding: 20px;
}

.newPost h4 {
    font-family: 'Mochiy Pop One', sans-serif;
    color: rgb(255, 255, 255);
}

.footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
}